<div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
  <div class="flex justify-between mb-3">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Website Visitors</h5>
  </div>

  <div id="devices" class="flex gap-4 mb-4">
    <div class="flex items-center">
      <input
        id="direct"
        type="checkbox"
        value="Direct"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        checked
      />
      <label for="direct" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Direct</label>
    </div>
    <div class="flex items-center">
      <input
        id="sponsor"
        type="checkbox"
        value="Sponsor"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        checked
      />
      <label for="sponsor" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sponsor</label>
    </div>
    <div class="flex items-center">
      <input
        id="affiliate"
        type="checkbox"
        value="Affiliate"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        checked
      />
      <label for="affiliate" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Affiliate</label>
    </div>
    <div class="flex items-center">
      <input
        id="email-marketing"
        type="checkbox"
        value="Email marketing"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        checked
      />
      <label for="email-marketing" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email Marketing</label>
    </div>
  </div>

  <div id="donut-chart" style="width: 100%; height: 320px;"></div>
</div>
