<div class="sidebar d-flex flex-column flex-shrink-0 p-3">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr class="text-white">
  <ul class="nav nav-pills flex-column mb-auto">
    <li (click)="changeSelectNavBar('Home')" routerLink="" class="nav-item">
      <a [ngClass]="{'active': SelectNavBar == 'Home'}" class="nav-link" >
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Home
      </a>
    </li>
    <li (click)="changeSelectNavBar('Appointment')" routerLink="/Appointment">
      <a [ngClass]="{'active': SelectNavBar == 'Appointment'}" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Appointment
      </a>
    </li>
    <li (click)="changeSelectNavBar('Customer_Account')" routerLink="/Customer_Account">
      <a class="nav-link" [ngClass]="{'active': SelectNavBar == 'Customer_Account'}">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Account
      </a>
    </li>
    <li (click)="changeSelectNavBar('Service')" routerLink="/Service">
      <a class="nav-link" [ngClass]="{'active': SelectNavBar == 'Service'}">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Service
      </a>
    </li>
    <li (click)="changeSelectNavBar('Rules')" routerLink="/Rules">
      <a [ngClass]="{'active': SelectNavBar == 'Rules'}" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Rules and regulations
      </a>
    </li>
    <li (click)="changeSelectNavBar('AboutUs')" routerLink="/AboutUs">
      <a [ngClass]="{'active': SelectNavBar == 'AboutUs'}" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle"/>
        </svg>
        About Us
      </a>
    </li>
    <li (click)="changeSelectNavBar('Contact')" routerLink="/Contact">
      <a [ngClass]="{'active': SelectNavBar == 'Contact'}" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle"/>
        </svg>
        Contact
      </a>
    </li>
    <li (click)="changeSelectNavBar('Feedback')" routerLink="/Feedback">
      <a [ngClass]="{'active': SelectNavBar == 'Feedback'}" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Feedback
      </a>
    </li>
  </ul>
  <hr class="text-white">
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>