<img src="https://media.istockphoto.com/id/1191779828/photo/young-happy-couple-talking-to-car-mechanic-in-auto-repair-shop.jpg?s=612x612&w=0&k=20&c=s0Ox-TwXdPAsen9IVL32fvZJ0iF6t0BeQrjRJfDRAbE=" alt="" class="imgCus">

<h1>Welcome to our service</h1><br> 

  <div class="container mb-5 mt-4">
    <h3 class="mb-3">Make your Account to get best service </h3>
    <div class="form-group">
        <input type="text" placeholder="Customer ID">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Customer Name">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Customer Contact">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Email">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Address">
    </div>
    <!-- <button>ADD</button> -->
  </div>


  <!-- vehicle account -->

  <img src="https://stauditcentralusaa01prod.blob.core.windows.net/files/Accounts/1/Locations/05ee5590-893d-4e60-8759-1c70397af4a3/Blog/125d30a3-b0ae-43ee-86fc-841212e7cbb6.jpg" alt="" class="imgCus">

   

  <div class="container mb-5 mt-5">
    <h3 class="mb-3">Upload your vehicle <br>details here </h3>
    <div class="form-group">
        <input type="text" placeholder="Vehicle ID">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Vehicle Type">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Vehicle Number">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Cheeky Number">
    </div>

    <button>SUBMIT</button>
  </div>