<img src="https://media.istockphoto.com/id/1191779828/photo/young-happy-couple-talking-to-car-mechanic-in-auto-repair-shop.jpg?s=612x612&w=0&k=20&c=s0Ox-TwXdPAsen9IVL32fvZJ0iF6t0BeQrjRJfDRAbE=" alt="" class="imgCus">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Account</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Your Details</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Vehicle Details</a></li>
      </ul>
    </header>


  <div class="container">
    <h3>Welcome to our service <br>
        make your <br> Account to get best service </h3>
    <div class="form-group">
        <input type="text" placeholder="Customer ID">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Customer Name">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Customer Contact">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Email">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Address">
    </div>
    <button>Next</button>
  </div>