@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 1em;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    color: #6B1B2C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #a0a1a1;
    /* background-color: #0a192f; */
    border-radius: 20px;
}

.form-heading {
    text-align: center;
    margin: 2em;
    color: #ffffff;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #bdc0c4;
    box-shadow: inset 2px 5px 10px rgb(65, 64, 64);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #000000;
    padding-inline: 1em;
}

.sendMessage-btn {
    cursor: pointer;
    width: 60%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #6B1B2C;
    color: #ffffff;
    font-weight: bold;
    outline: 1px solid #4d1521;
    transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #5e1523;
    color: #dad5d5;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
    background-image: linear-gradient(163deg, #6d706f 0%, #706e6e 100%);
    border-radius: 22px;
    transition: all 0.3s;
}

.form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(47, 48, 48, 0.616);
}

.form-card2 {
    border-radius: 0;
    transition: all 0.2s;
}

.form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}