<img src="https://stauditcentralusaa01prod.blob.core.windows.net/files/Accounts/1/Locations/05ee5590-893d-4e60-8759-1c70397af4a3/Blog/125d30a3-b0ae-43ee-86fc-841212e7cbb6.jpg" alt="" class="imgCus">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4 acc">Vehicle Account</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Your Details</a></li>
        <li class="nav-item" >
          <a class="nav-link">Vehicle Details</a></li>
      </ul>
    </header>


  <div class="container mb-5">
    <h3 class="mb-3">Upload your vehicle <br>details here </h3>
    <div class="form-group">
        <input type="text" placeholder="Vehicle ID">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Vehicle Type">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Vehicle Number">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Cheeky Number">
    </div>

    <button>SUBMIT</button>
  </div>