<button class="btn btn-primary mt-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  <i class="bi bi-layout-sidebar me-2" style="font-size: 1.5rem; color: white;"></i>
</button>

<div class="offcanvas offcanvas-start" style="background-color: #747D8C; width: 280px; height: 100vh;" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
<div class="sidebar d-flex flex-column flex-shrink-0 p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr class="text-white">
    <ul class="nav nav-pills flex-column mb-auto">
      <li (click)="changeSelectSidebar('Dash')" routerLink="" class="nav-item">
        <a [ngClass]="{'active': SelectSidebar == 'Dash'}" class="nav-link" >
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#Dash" />
          </svg>
          Dash Bord
        </a>
      </li>
      
      <li (click)="changeSelectSidebar('AdminAppointment')" routerLink="/AdminAppointment">
        <a [ngClass]="{'active': SelectSidebar == 'AdminAppointment'}" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
          Appointment
        </a>
      </li>
      <li (click)="changeSelectSidebar('AdminAcc')" routerLink="/AdminAcc">
        <a class="nav-link" [ngClass]="{'active': SelectSidebar == 'AdminAcc'}">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Account
        </a>
      </li>
      <li (click)="changeSelectSidebar('Email')" routerLink="/Email">
        <a class="nav-link" [ngClass]="{'active': SelectSidebar == 'Email'}">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Email
        </a>
      </li>
      <li (click)="changeSelectSidebar('AdminFeedback')" routerLink="/AdminFeedback">
        <a [ngClass]="{'active': SelectSidebar == 'AdminFeedback'}" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Feedback
        </a>
      </li>
    </ul>
    
    <hr class="text-white">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>