<div class="container">
    <button>
        <img src="https://p.kindpng.com/picc/s/755-7554500_transparent-login-icon-png-enter-icon-png-png.png" alt="USER" class="USER" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </button>
</div>
<div class="container">
    <h4>Login</h4>
</div>

<!-- login modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Login</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
            [(ngModel)]="loginObj.email" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
      [(ngModel)]="loginObj.password" [ngModelOptions]="{standalone: true}">
          </div>
      </div>

      <!-- btn -->
      <div class="modal-footer">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" [(ngModel)]="isChacked"
        (click)="anableButton()">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button class="btn btn-primary w-100 py-2" type="submit" (click)="login()" [disabled]="isDesableButton">Sign
          in</button>
      </div>
    </div>
  </div>
</div>

