<div class="div m-3">
    <app-admin-sidebar></app-admin-sidebar>
</div>
<h2>Customer Appointment View</h2>
<div class="container">
    
    <div class="row">
        <div class="col-6 mb-5">
            <!-- search btn1 -->
            <form class="form">
                <label for="search">
                    <input class="input1" type="text" required="" placeholder="Search here" id="search">
                    <div class="fancy-bg"></div>
                    <div class="search">
                        <svg viewBox="0 0 24 24" aria-hidden="true"
                            class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <button class="close-btn" type="reset">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </label>
            </form>

        </div>

        <!-- serch btn2 -->
        <div class="col-6">
            <input required="" type="date" placeholder="Your Name" class="input2">
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <h6>NEW APPOINTMENTS</h6>
        </div>
        <div class="col-6">
            <h6>COMPLETED APPOINTMENTS</h6>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Vehicle Type</th>
            <th>Vehicle Number</th>
            <th>Email</th>
            <th>Date</th>
            <th>Location</th>
            <th>Service</th>
            <!-- <th>Payments</th> -->
            <th>Update</th>
        </tr>

        <tr *ngFor="let appointment of appointmentList; index as i">
            <td>{{appointment.id}}</td>
            <td>{{appointment.name}}</td>
            <td>{{appointment.vehicleType}}</td>
            <td>{{appointment.number}}</td>
            <td>{{appointment.email}}</td>
            <td>{{appointment.date}}</td>
            <td>{{appointment.location}}</td>
            <td>{{appointment.service}}</td>
            <!-- <td>Card Payments</td> -->
            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="updateAppointment(appointment)"><i class="bi bi-pencil-square"></i></button></td>
            <td><button class="btn btn-danger" (click)="deleteAppointmentById(appointment.id)"><i
                        class="bi bi-trash-fill"></i></button></td>
        </tr>
    </table>


    <!-- update modal -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Appointment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">ID</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.id" id="recipient-name"
                            disabled="true">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.name" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Vehicle Type</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.vehicleType"
                            id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Vehicle Number</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.number"
                            id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.email" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Date</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.date" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Location</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.location"
                            id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Service</label>
                        <input type="text" class="form-control" [(ngModel)]="appointmentTemp.service"
                            id="recipient-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveAppointment()"
                        data-bs-dismiss="modal">Update Customer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- page next -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>